<!DOCTYPE html>
<div class="container">
    <h3 class="text_center", "d-inline-block px-3 m-3" style="background-color: #eee;">
      <%= @customer.name_first %><%= @customer.name_second %>さんの会員詳細
    </div>