<div class="container">
  <div class="d-inline-block px-3 m-3 mb-4" style="background-color: #eee;">
    <h4 class="m-0">配送先登録/一覧</h2>
  </div>
  <div>
    <%= render "address_form", shipping_address: @shipping_address %>
  </div>
  <div id="address_list">
    <%= render "index", shipping_addresses: @shipping_addresses %>
  </div>
</div>